# =========================
# Build (Maven)
# =========================
target/

# =========================
# Logs
# =========================
*.log

# =========================
# Arquivos temporários
# =========================
*.tmp
*.swp
*.swo
*~

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Sistema Operacional
# =========================
# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# =========================
# Arquivos de ambiente
# =========================
.env
.env.*

# =========================
# Maven Wrapper (opcional)
# =========================
.mvn/timing.properties
mvnw.*
mvnw